<img src="../public/assets/img/burger.png" alt="burgerPic" height="100" width="100">
<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="uneatenBurger">
        <ul>
        {{#each burgers}}
          {{#unless burgers}}
            <li>{{this.burger_name}}
                <button type="button" class="btn btn-success" id="devoured" data-id="{{this.id}}">Devour It!</button>
            </li>
          {{/unless}}
        {{/each}}
        </ul>
    </div>    
    
{{!-- <div class="eatenBurger">
    <ul>
        {{#each burger}}
          {{#if burger}}
            <li>{{this.burger_name }}</li>
          {{/if burger}}
        {{/each}}
    </ul>
</div> --}}

    <h2>Add a Burger and !</h2>
    <form class="create-form">
        {{!-- text area --}}
        <div class="form-group">
            <label for="newBurger">Enter a Burger</label>
            <textarea class="form-control" id="newBurger" rows="3"></textarea>
        </div>

        {{!-- submit button --}}
        <button type="button" class="btn btn-primary btn-lg" id="submit">Large button</button>
    </form>

</div>

